.tg-amwm{
  background-color:crimson; border:2px #000 solid;
  color: floralwhite;
  font-family: garamond;

}

h1{
    font-family: garamond;
}
h3{
    font-family: garamond;
}
.body{
    font-family: garamond;
    font-size: 0.8em;
}
*{
    font-family: garamond;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
button{
  font-family: garamond;
  font-size: 0.9em;
}
